<nav>
  <ul class="links">
    <a href="/">
      <li>Home</li>
    </a>
    <a href="/secret">
      <li>Secret</li>
    </a>
    <a href="/login">
      <li class="auth-btn">Login</li>
    </a>
    <a href="/register">
      <li class="auth-btn">Register</li>
    </a>
    <a href="/logout">
      <li class="logout">Logout</li>
    </a>
  </ul>
</nav>
