<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <%- include('partials/nav'); %>
      <h1>Home</h1>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam,
        distinctio.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsa
        quasi harum voluptatibus adipisci corporis eum maxime incidunt officia
        dicta sapiente nam sit veritatis, dolores ab aperiam neque illo
        exercitationem?
      </p>
    </div>
  </body>
</html>
