<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="container">
      <%- include('partials/nav'); %>

      <div class="img-wrapper">
        <img
          src="https://hips.hearstapps.com/hmg-prod/images/chipmunk-nature-photos-1537973822.jpg"
          alt="top secret image"
        />
      </div>
    </div>
  </body>
</html>
